@model IEnumerable<VideoRentDemoApp.Models.Movie>

@{
	ViewData["Title"] = "Home Page";
}

<p>
	<a asp-action="Create">Create New Movie</a>
</p>

<div class="main-content">
	<div class="browse-content">
		<div class="container">
			<div class="row">
				@foreach (var item in Model)
				{
					@*  <div class="browse-movie-wrap col-xs-10 col-sm-4 col-md-5 col-lg-4">*@
					<div class="browse-movie-wrap col-xs-10 col-sm-4 col-md-100 col-lg-3">

						<div class="browse-movie-bottom">
							<div class="browse-movie-year" style="font-family:'Comic Sans MS'; color:peru">
								<strong>
									<br>
									@*@Html.DisplayFor(modelItem=>item.Title) / @Html.DisplayFor(modelItem => item.DateRelease.Year)*@
								</strong>
							</div>
						</div>
						<a asp-action="Details" asp-controller="Home" asp-route-id="@item.MovieId" class="browse-movie-link">
							<figure>
								<img class="img-responsive"
								 src="~/img/@Html.DisplayFor(modelItem => item.ImageUrl)"
								 alt="@item.Title"
								 class="card-img"
								 width="170"
								 height="255"
								 style="opacity:1;filter:alpha(opacity=100);"
								 title="@item.Title"
								 onmouseover="this.style.opacity=1;this.filters.alpha.opacity=100"
								 onmouseout="this.style.opacity=1;this.filters.alpha.opacity=100">
							</figure>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>
